*{
    position: relative;
}

#navbar-container {
    margin: 10px 6px;
    border-bottom: 1px solid #7C858C;
    background-color: #7f720e56;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#first-page {
    margin: 50px 20px;
    
}
 
#div {
    /* position: absolute; */
    margin: 100px 50px ;
}